<div class="page-header">
  <h1><%= @title %></h1>
</div>

<div class="row">
  <div class="col-md-1">
    <div class="form-group">
      <%= link_to "New", new_grievance_path, class: 'btn btn-primary' %>
    </div>
  </div>
  <form role="search" action="<%= search_path %>" method="get">
    <div class="col-md-2">
      <div class="form-group">
        <select class="form-control" type="text" id="filter-state" name="state">
          <option value="">-- All States --</option>
          <% CS.states(:us).each do |k, state| %>
            <option value="<%= k %>" <%= params[:state] == k.to_s ? "selected" : "" %>><%= "#{k} - #{state}" %></option>
          <% end %>
        </select>
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <select class="form-control" type="text" id="filter-city" name="city">
        <option value="">-- All Cities --</option>
        <% if params[:state].present? %>
          <% CS.cities(params[:state], :us).each do |city| %>
            <option value="<%= city %>" <%= params[:city] == city.to_s ? "selected" : "" %>><%= city %></option>
          <% end %>
        <% end %>
      </select>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <input class="form-control" type="text" id="filter-cop" name="cop" data-name="<%= @cop.try(:name) || "" %>" data-badge="<%= @cop.try(:badge_number) || "" %>" value="<%= params[:cop] %>">
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-search"></i></span>
          <input class="form-control" type="text" id="filter-text" name="q" placeholder="Search" value="<%= params[:q] %>">
        </div>
      </div>
    </div>
    <div class="col-md-1">
      <button type="submit" class="btn btn-default">Filter!</button>
    </div>
  </form>

</div>

<table class="table table-striped" id="grievance-table">
  <thead>
    <tr>
      <th><strong>#</strong></th>
      <th>Date</th>
      <th>City</th>
      <th>Cop</th>
      <th>User</th>
      <th>Title</th>
      <th>Description</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @grievances.each do |grievance| %>
      <tr data-show-path="<%= grievance_path(grievance) %>">
        <td><%= grievance.id %> <%= grievance.visible? ? "" : "<span class='label label-warning' data-toggle='tooltip' data-placement='left' title='Created, waiting for approval'>*</span>".html_safe %> <%= grievance.revision.blank? ? "" : "<span class='label label-danger' data-toggle='tooltip' data-placement='left' title='Changed, waiting for approval'>*</span>".html_safe %></td>
        <td><%= grievance.date_incident %></td>
        <td><%= "#{grievance.state.try(:name)} - #{grievance.city.try(:name)}" %></td>
        <td><%= "#{grievance.cop.try(:badge_number)} - #{grievance.cop.try(:name)}" %></td>
        <td><%= [grievance.publish_user_age ? grievance.user.age : "---", grievance.publish_user_race ? grievance.user.race : "---"].join(" / ") %></td>
        <td><%= grievance.title %></td>
        <td><%= grievance.description.truncate(20) %></td>
        <td>
          <%= link_to "View", grievance_path(grievance), class: "btn btn-default btn-xs" %>
          <% if user_signed_in? && (current_user.is_admin || current_user == grievance.user) %>
          <%= link_to "Edit", edit_grievance_path(grievance), class: "btn btn-default btn-xs" %>
          <%= link_to "Delete", grievance_path(grievance), class: "btn btn-danger btn-xs", method: :delete, data: { confirm: "Are you sure?" } %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @grievances, renderer: BootstrapPagination::Rails %>